.header{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20px;
  h1{
    color: #eaeaea;
    text-align: center;
  }
  
  .animate{
    width:calc(180px + 3vw);
    cursor: pointer;
  }
}